.navbar {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #28282811;

    .ulNavbar {
        display: flex;
        flex-direction: row;

        li {
            height: 100%;
            display: flex;
            align-items: center;
            transition: all 250ms linear;
            
            &:hover {
                color: #000;
                box-shadow: 0 2px 0 0 currentcolor;
        }

        
    }
    }

    .inRightDivTwo{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @media (min-width: 640px) {
            display: none !important;
        }
    }

    .inRight {
        float: right;
        justify-self: flex-end;
    }

    #mobile-menu {
        align-self: flex-end !important;
        display: flex !important;
        align-items: flex-end !important;

        .addSomeWidth {
            width: 100%;
        }

        ul {
            width: 100% !important;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center !important;
        }

        @media (min-width: 640px) {
            display: none !important;
        }
    }


    #mobile-menu {
        transition: max-height 0.3s ease-in-out; 
        max-height: 0; 
        overflow: hidden;
      }
      
      #mobile-menu.block {
        max-height: 1000px; 
      }

}